@import "./normalize.css";
@import "./skeleton.css";

$primary:rgba(rgb(37, 124, 153), .5);
$dark:rgba(black, .5);
$light:rgba(white, .5);
$danger:rgba(red, .5);


body {
    background-image: url("https://i.imgur.com/LFFSn8e.jpg");
    background-size: cover;
}

.app {
    padding-bottom:1.3%;
    height:100vh;
    box-shadow: 5px 5px 15px $dark;
    background-color: $primary;
    
    .header {
        text-align: center;
        background-color: $dark;
        height:20%;
        color:white;
        * {
            margin:0;
        }
    }

    .projectList, .projectDetail {
        height:60%;
        padding:10px;
        box-shadow: inset 0 0 5px $dark;
    }
    .projectList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .projectDetail {
        a {
            cursor: pointer;
            color:white;
            display: block;
        }
        .row {
            height:75%;
            img {
                height:100%;
            }
            ul {
                list-style-type: none;
                padding:10px;
                align-self: top;
            }
        }
        p {
            text-align: center;
            color:white;
        }
    }

    .footer {
        background-color: $dark;
        height:20%;
        color:white;
        .contact {
            box-shadow: inset 0 0 20px $dark;
            margin:auto;
            text-align: center;
            color:white;
            cursor: pointer;
            &:hover {
                transform: translateY(5px);
            }
        }
    }

    .project {
        padding:5px;
        height:30%;
        width:20%;
        color:white;
        background-color: $dark;
        text-align: center;
        box-shadow: 5px 5px 10px $dark;
        border-radius: 5%;

        &:hover {
            transform: translateY(-5px);
        }

        cursor: pointer;
        h5 {

        }
        p {

        }
        
    }

    .projectDetail {
        .backBtn {
            background: $danger;
            color:white;
            border:none;
            box-shadow: 4px 4px 10px $dark;
            &:hover {
                box-shadow: inset 0 0 2px $dark;
            }
        }
        p {
            background:$dark;
        }
    }
}